{% extends 'layout/main_view.html' %}

{% block column_left %}
<div class="sub-header border-radius__top">ĐĂNG KÝ MƯỢN PHÒNG HỌC</div>
<div id="sub-container_left">
        <div id="sub-column_left__left--book_room">
            <div class="drop-down_row sub-row">
                <div class="drop-down_member">
                    <span class="drop-down_title">Cơ sở:</span>
                    <select>
                        <option value="option2" selected>Nguyễn Kiệm</option>
                    </select>
                </div>
                <div class="drop-down_member">
                    <form action="">
                        <input type="hidden" name="date-book" value="{{ ngay_dat }}">
                        <input type="hidden" name="select-ca-hoc" value="{{ ca }}">
                        <select id="select_floor" name="select_floor" onchange="this.form.submit()">
                            <option value="0" selected>Lầu trệt</option>
                            <option value="1">Lầu 1</option>
                            <option value="2">Lầu 2</option>
                            <option value="3">Lầu 3</option>
                            <option value="4">Lầu 4</option>
<!--                            <option value="5">Lầu 5</option>-->
                        </select>
                    </form>
                </div>
                <div class="drop-down_member">
                    <form action="">
                        <input type="hidden" name="select_floor" value="{{ floor }}">
                        <input type="hidden" name="date-book" value="{{ ngay_dat }}">
                        <span class="drop-down_title">Ca:</span>
                        <select id="select-ca-hoc" name="select-ca-hoc" onchange="this.form.submit()">
                            {% for ca in list_ca_hoc %}
                            <option
                            value="{{ ca.id }}">{{ ca.ten_ca }} ({{ ca.gio_bat_dau.strftime('%H:%M') }} -
                                {{ ca.gio_ket_thuc.strftime('%H:%M') }})</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="drop-down_row sub-row">
                <div class="drop-down_member only-member">
                    <form action="">
                        <input type="hidden" name="select_floor" value="{{ floor }}">
                        <input type="hidden" name="select-ca-hoc" value="{{ ca }}">
                        <span class="drop-down_title">Ngày đặt phòng: </span><input id="date-book" type="date" name="date-book" onchange="this.form.submit()" value="{{ ngay_dat }}">
                    </form>
                </div>
            </div>
            <div class="primary-row">
                <div id="floor-container" class="floor-container">
                    <div class="row-floor floor-up">
                        {% for i in range(half_phong_hoc) %}
                            <div class="col-floor" id="room {{ list_phong_hoc[i].id }}">{{  list_phong_hoc[i].ten_phong }}</div>
                        {% endfor %}
                    </div>
                    <div class="row-floor floor-down">
                        {% for j in range(half_phong_hoc, max_phong_hoc) %}
                            <div class="col-floor" id="room {{ list_phong_hoc[j].id }}">{{  list_phong_hoc[j].ten_phong }}</div>
                        {% endfor %}
                    </div>

                    {% for i in range(max_phong_hoc) %}
                        {% if list_phong_hoc[i].tinh_trang.value == 2 %}
                            <script>
                                var d = document.getElementById("room {{ list_phong_hoc[i].id }}");
                                d.className += " color-red";
                            </script>
                        {% else %}
                            <script>
                                var d = document.getElementById("room {{ list_phong_hoc[i].id }}");
                                d.className += " color-green";
                            </script>
                        {% endif %}
                    {% endfor %}

                    <script>
                        var myDiv
                    </script>
                    {% for i in lich_hoc %}
                        <script>
                            myDiv = document.getElementById("room {{ i.phong_hoc_id }}");
                            myDiv.classList.remove('color-green');
                            myDiv.className += " color-grey";
                        </script>
                    {% endfor %}
                    {% for i in phieu_muon_phong %}
                        <script>
                            myDiv = document.getElementById("room {{ i.phong_hoc_id }}");
                            myDiv.classList.remove('color-green');
                            myDiv.className += " color-grey";
                        </script>
                    {% endfor %}
                </div>
            </div>
            <div class="sub-row map-title">Sơ đồ giảng đường</div>
            <div class="drop-down_row sub-row">
                <div class="color-tag__col">
                    <div class="color-tag color-green"></div>
                    <div class="color-title">Còn trống</div>
                </div>
                <div class="color-tag__col">
                    <div class="color-tag color-red"></div>
                    <div class="color-title">Bảo trì</div>
                </div>
                <div class="color-tag__col">
                    <div class="color-tag color-grey"></div>
                    <div class="color-title">Đã đặt/Đang sử dụng</div>
                </div>
                  <button class="btn-map_room">Sơ đồ phòng</button>
            </div>
        </div>
        <div id="sub-column_left__right--book_room">
            <div class="flex-end col-header">
                <button class="btn-book_room btn-book_room--chosen" onclick="location.href='/dat_phong'"><i class="fa-solid fa-school icon"></i>Đặt phòng</button>
                <button class="btn-book_room" onclick="location.href='/xem_phieu_muon'"><i class="fa-solid fa-list-check icon"></i>Xem phiếu mượn</button>
            </div>
            <div class="col-primary">
                <div class="order-detail">
                    <div class="order-title">ĐĂNG KÝ SỬ DỤNG GIẢNG ĐƯỜNG</div>
                    <form action="" onsubmit="saveBookRoom('{{current_user.id}}', '{{ca}}', this)" method="post">
                        <div class="inform-detail__row">
                            <div class="inform-detail__col" id="detail-name">
                                <div class="inform-detail_title">Họ tên người đặt phòng:</div>
                                <div><input name="ho_ten" readonly value="{{ current_user.ho_ten }}" class="detail-input" type="text"></div>
                            </div>
                            <div class="inform-detail__col" id="detail-organization">
                                <div class="inform-detail_title">Tổ chức đại diện:</div>
                                <div><input name="dai_dien_to_chuc" readonly value="{{ current_user.dai_dien_to_chuc }}" class="detail-input" type="text"></div>
                            </div>
                        </div>

                        <div class="inform-detail__row">
                            <div class="inform-detail__col" id="detail-phone_number">
                                <div class="inform-detail_title">Số điện thoại: </div>
                                <div><input name="so_dien_thoai" readonly value = '{{ current_user.so_dien_thoai }}' class="detail-input" type="text"></div>
                            </div>
                            <div class="inform-detail__col" id="detail-room_chosen">
                                <div class="inform-detail_title">Phòng đăng ký: </div>
                                <div><input name="phong_dang_ky" readonly class="detail-input" id="chosen_room" name="chosen_room" type="text"></div>
                            </div>
                            <div class="inform-detail__col" id="tag-room_chosen">
                                <div class="inform-detail_title">Hình thức mượn: </div>
                                <select class="detail-input" id="tag_id" name="tag_id">
                                    {% for tag in tag_list %}
                                    <option value="{{ tag.id }}">{{ tag.name_tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="inform-detail__row">
                            <div class="inform-detail__col" id="detail-date_order">
                                <div class="inform-detail_title">Ngày mượn: </div>
                                <div><input name="ngay_dat_phong" readonly id="date-book-info" class="detail-input" type="date" value="{{ ngay_dat }}"></div>
                                <div></div>
                            </div>
                            <div class="inform-detail__col" id="detail-time_start">
                                <div class="inform-detail_title">Thời gian bắt đầu: </div>
                                <div><input name="gio_bat_dau" id="start-time-book" readonly class="detail-input" type="time"></div>
                            </div>
                            <div class="inform-detail__col" id="detail-time_end">
                                <div class="inform-detail_title">Thời gian kết thúc: </div>
                                <div><input name="gio_ket_thuc" id="end-time-book" readonly class="detail-input" type="time"></div>
                            </div>
                        </div>
                        <div class="inform-detail__row">
                            <div class="inform-detail__col">
                                <div class="inform-detail_title">
                                    Lý do sử dụng
                                </div>
                                <div>
                                    <textarea required name="purpose" id="purpose" cols="60" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="inform-detail__row">
                            <input required id="confirm-box" type="checkbox"><span class="alert-detail_title">Tôi cam kết sau khi sử dụng xong sẽ hoàn trả lại phòng đúng hiện trạng và cách bố trí ban đầu</span>
                        </div>
                        <div class="inform-detail__row flex-end">
                            <div class="inform-detail__col">
                                <button class="btn" id="btn-save_order">Lưu tách phiếu</button>
                                <button type="submit" class="btn" id="btn-submit">Đăng ký</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% block api %}
<script>
    document.getElementById('select_floor').value= parseInt('{{ floor }}')
    document.getElementById('select-ca-hoc').value= parseInt('{{ ca }}')
    window.onload = function(){
        getCaHoc(parseInt('{{ ca }}'))
    }

    var ds_phong_hoc = []
    var phong_hoc = {}
    {% for p in list_phong_hoc %}
        phong_hoc = {
            id: {{ p.id }},
            name:'{{ p.ten_phong }}',
        }
        ds_phong_hoc.push(phong_hoc);
    {% endfor %}

    var elements = document.querySelectorAll('[id^="room"]')
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener("click", function() {
        let idSubstring = parseInt(this.id.substring(5))
        var chosen_room = ds_phong_hoc.find(phong_hoc => phong_hoc.id === idSubstring);
        document.getElementById('chosen_room').value= chosen_room.name
      })
    }
</script>
<script src="{{ url_for('static', filename='js/selectFloor.js') }}"></script>
{% endblock %}
{% endblock %}