{% extends 'layout/base.html' %}
{% block title %}Tiện ích sinh viên{% endblock %}

{% block content %}
<div id="container">
    <div id="banner">
        <img src="/static/images/banner.png" alt="">
    </div>
    <div id="content-container">
        <div id="column-left">
            <div class="sub-header border-radius__top">THÔNG BÁO</div>
            <div id="sub-container_left">
                <div id="sub-column_left__left">
                    <div class="image_contain">
                        <img src="/static/images/alert.png" alt="">
                    </div>
                    <div class="sub-column_left__left--sub_content">19/01/2023 08:28</div>
                    <div class="sub-column_left__left--primary_content">
                        Từ ngày 19/01/2023 đến 20/01/2023 chỉ cho đăng ký bổ sung các học phần Ôn thi và học phần Chuẩn
                        đầu ra.
                    </div>
                </div>
                <div id="sub-column_left__right">
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Sinh viên CLC đăng ký môn học chính khóa trong đợt theo khóa chỉ được chọn các môn theo lớp, chọn đăng ký môn học chính khóa ở lớp khác có thể bị xóa môn học.</span>
                        </div>
                        <div class="list_time">09/10/2022 20:44</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Các lưu ý sinh viên cần biết trước khi đăng ký môn học:</span>
                        </div>
                        <div class="list_time">24/08/2022 15:18</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Danh sách nhóm lớp hủy do không đủ sĩ số - Học kỳ 2 - năm học 2022/2023</span>
                        </div>
                        <div class="list_time">04/01/2023 00:00</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Kế hoạch ĐKMH học kỳ 2 năm học 2022-2023 (Hệ Đại Trà)</span>
                        </div>
                        <div class="list_time">08/12/2022 00:00</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Kế hoạch ĐKMH học kỳ 2 năm học 2022-2023 (Chương trình CLC)</span>
                        </div>
                        <div class="list_time">08/12/2022 00:00</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Hướng dẫn đóng học phí và các dịch vụ khác từ học kỳ 2 năm học 2022 - 2023 </span>
                        </div>
                        <div class="list_time">20/12/2022 08:37</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Địa điểm học tập</span>
                        </div>
                        <div class="list_time">25/08/2022 10:27</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Hướng dẫn Đăng ký môn học</span>
                        </div>
                        <div class="list_time">25/08/2021 04:41</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Danh mục các môn học tương đương thay thế</span>
                        </div>
                        <div class="list_time">23/09/2021 14:21</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Hướng dẫn đăng ký ôn tập và thi đánh giá năng lực tiếng Anh đầu ra</span>
                        </div>
                        <div class="list_time">13/09/2021 15:38</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Qui định Đăng ký môn học 2022</span>
                        </div>
                        <div class="list_time">24/08/2021 16:34</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Hướng dẫn các kênh thanh toán học phí</span>
                        </div>
                        <div class="list_time">19/11/2021 16:33</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Thông báo học phí </span>
                        </div>
                        <div class="list_time">24/08/2021 16:37</div>
                    </div>
                    <div class="list_member">
                        <div class="list_content">
                            <i class="fas fa-angle-double-right bullet_list"></i>
                            <span class="list_text">Hướng dẫn Đăng ký môn học Tiếng Anh không chuyên</span>
                        </div>
                        <div class="list_time">24/08/2021 16:37</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="column-right">
            {% if current_user.is_authenticated %}
            <div id="login-success" class="border-radius__bottom">
                <div class="sub-header flex-direction__row">
                    <div class="login-title__success"><i class="fa fa-user pr-2"></i><span
                            class="title">ĐĂNG NHẬP</span></div>
                    <div class="login-title__success--icon flex-end"><i class="fas fa-chevron-right right"></i></div>
                </div>
                <div class="margin-login">
                    <div class="input-with__icon border_bottom content-login">
                        <div class="content-login__left">Tài khoản</div>
                        <div class="content-login__right">{{ current_user.mssv }}</div>
                    </div>
                    <div class="input-with__icon content-login">
                        <div class="content-login__left">Họ tên</div>
                        <div class="content-login__right">{{ current_user.hoTen }}</div>
                    </div>
                </div>
                <div class="btn-login__container">
                    <button class="btn-logout" onclick="location.href='/logout'"><i class="icon fas fa-sign-in-alt icon-in__button"></i>Đăng xuất</button>
                </div>
            </div>
            {% else %}
            <div id="login-area" class="border-radius__bottom">
                <div class="sub-header"><i class="fa fa-user pr-2"></i><span class="title">ĐĂNG NHẬP</span></div>
                <div class="input-with__icon">
                    <div class="icon-with__input border-radius__left"><i class="fa fa-user"></i></div>
                    <div class="input-user__name border-radius__right"><input type="text"></div>
                </div>
                <div class="input-with__icon">
                    <div class="icon-with__input border-radius__left"><i class="fa fa-lock"></i></div>
                    <div class="input-pass__word"><input type="text"></div>
                    <div class="icon-with__input border-radius__right"><i class="fa-solid fa-eye-slash"></i></div>
                </div>
                <div class="btn-login__container">
                    <button class="btn-login"><i class="icon fas fa-sign-in-alt icon-in__button"></i>Đăng nhập</button>
                </div>
                <div class="notice-login">Chú ý: SV đăng nhập click vào nút "Đăng nhập tài khoản HCMCOU-SSO" ở bên
                    dưới
                </div>
                <div class="btn-login__container">
                    <button class="btn-login__second"><a class="btn-login-hcmou" href="/login?next=/"><i
                            class="icon fas fa-sign-in-alt icon-in__button"></i>Đăng nhập tài khoản HCMCOU-SSO</a>
                    </button>
                </div>
            </div>
            {% endif %}
            <div id="feature-area" class="border-radius__top">
                <div class="sub-header border-radius__top"><i class="fas fa-cogs pr-1"></i><span
                        class="title">TÍNH NĂNG</span></div>
                {% if current_user.is_authenticated %}
                <div id="feature-area__show flex-direction__row" class="border-radius__top">
                    <div class="feature-list">
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Đăng ký môn học</span>
                            </div>
                        </div>
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Xem học phí</span>
                            </div>
                        </div>
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Đóng học phí</span>
                            </div>
                        </div>
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">In phiếu nộp tiền</span>
                            </div>
                        </div>
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Xem thời khóa biểu tuần</span>
                            </div>
                        </div>
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Xem thời khóa biểu học kỳ</span>
                            </div>
                        </div>
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Xem lịch thi</span>
                            </div>
                        </div>
                        <div class="list_feature--member">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Xem điểm</span>
                            </div>
                        </div>
                        <div class="list_feature--member" onclick="location.href='/dat_phong'">
                            <div class="list_content">
                                <i class="fas fa-angle-right feature-text"></i>
                                <span class="feature-text">Đăng ký mượn phòng học</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="sub_footer">
        <div class="sub_footer--container">
            <div class="sub_footer--flex">
                <div class="sub-footer--title">THỐNG KÊ TRUY CẬP</div>
                <div class="sub-footer--list_flex">
                    <div class="content-in--sub__footer"><i class="fa fa-users icon-in--sub__footer"></i><span>Đang truy cập</span>
                    </div>
                    <div class="number-in--sub__footer">175</div>
                </div>
                <div class="sub-footer--list_flex">
                    <div class="content-in--sub__footer"><i
                            class="fa-solid fa-user-graduate icon-in--sub__footer"></i><span>SV đăng nhập</span></div>
                    <div class="number-in--sub__footer">175</div>
                </div>
                <div class="sub-footer--list_flex">
                    <div class="content-in--sub__footer"><i class="fa-solid fa-user-tie icon-in--sub__footer"></i><span>GV đăng nhập</span>
                    </div>
                    <div class="number-in--sub__footer">0</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
