{% extends 'layout/main_view.html' %}

{% block column_left %}
<div class="sub-header border-radius__top">THÔNG BÁO</div>
<div id="sub-container_left">
    <div id="sub-column_left__left">
        <div class="image_contain">
            <img src="/static/images/alert.png" alt="">
        </div>
        <div class="sub-column_left__left--sub_content">19/01/2023 08:28</div>
        <div class="sub-column_left__left--primary_content">
            Từ ngày 19/01/2023 đến 20/01/2023 chỉ cho đăng ký bổ sung các học phần Ôn thi và học phần Chuẩn
            đầu ra.
        </div>
    </div>
    <div id="sub-column_left__right">
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Sinh viên CLC đăng ký môn học chính khóa trong đợt theo khóa chỉ được chọn các môn theo lớp, chọn đăng ký môn học chính khóa ở lớp khác có thể bị xóa môn học.</span>
            </div>
            <div class="list_time">09/10/2022 20:44</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Các lưu ý sinh viên cần biết trước khi đăng ký môn học:</span>
            </div>
            <div class="list_time">24/08/2022 15:18</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Danh sách nhóm lớp hủy do không đủ sĩ số - Học kỳ 2 - năm học 2022/2023</span>
            </div>
            <div class="list_time">04/01/2023 00:00</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Kế hoạch ĐKMH học kỳ 2 năm học 2022-2023 (Hệ Đại Trà)</span>
            </div>
            <div class="list_time">08/12/2022 00:00</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Kế hoạch ĐKMH học kỳ 2 năm học 2022-2023 (Chương trình CLC)</span>
            </div>
            <div class="list_time">08/12/2022 00:00</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Hướng dẫn đóng học phí và các dịch vụ khác từ học kỳ 2 năm học 2022 - 2023 </span>
            </div>
            <div class="list_time">20/12/2022 08:37</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Địa điểm học tập</span>
            </div>
            <div class="list_time">25/08/2022 10:27</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Hướng dẫn Đăng ký môn học</span>
            </div>
            <div class="list_time">25/08/2021 04:41</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Danh mục các môn học tương đương thay thế</span>
            </div>
            <div class="list_time">23/09/2021 14:21</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Hướng dẫn đăng ký ôn tập và thi đánh giá năng lực tiếng Anh đầu ra</span>
            </div>
            <div class="list_time">13/09/2021 15:38</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Qui định Đăng ký môn học 2022</span>
            </div>
            <div class="list_time">24/08/2021 16:34</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Hướng dẫn các kênh thanh toán học phí</span>
            </div>
            <div class="list_time">19/11/2021 16:33</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Thông báo học phí </span>
            </div>
            <div class="list_time">24/08/2021 16:37</div>
        </div>
        <div class="list_member">
            <div class="list_content">
                <i class="fas fa-angle-double-right bullet_list"></i>
                <span class="list_text">Hướng dẫn Đăng ký môn học Tiếng Anh không chuyên</span>
            </div>
            <div class="list_time">24/08/2021 16:37</div>
        </div>
    </div>
</div>
{% endblock %}
